<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Вкусно Пахнет</p>
            <div class="list-group">
                <li class="list-group-item active">Информация 1</li>
                <li class="list-group-item">Информация 2</li>
                <li class="list-group-item">Информация 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= restaurant.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">В среднем <strong>50BYN</strong></h4>
                    <h3><%= restaurant.name %></h3>
                    <p><%= restaurant.description %></p>
                    <em><p>Добавил <%= restaurant.author.username %></p></em>
                    <% if(currentUser && restaurant.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/restaurants/<%= restaurant._id %>/edit">Редактировать</a>
                        <form id="delete-form" action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Удалить</delete>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/restaurants/<%= restaurant._id %>/comments/new">Добавить комментарий</a>
                </div>
                <hr>
                <% restaurant.comments.forEach((comment) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong> 
                            <span class="pull-right">10 дней назад</span>
                            <p><%= comment.text %></p>
                            <a class="btn btn-xs btn-warning" 
                                href="/restaurants/<%= restaurant._id %>/comments/<%= comment._id %>/edit">
                                Редактировать
                            </a>
                            <form id="delete-form" action="/restaurants/<%= restaurant.id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Удалить">
                            </form>
                        </div>
                    </div>   
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>